.react-datepicker {
    background-color: #e8f1ee;
}
.datepicker-col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.datepickers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}
.datepicker-col {
    flex: 1 1 100%;
}
.react-datepicker-wrapper {
    flex: 0 0 60%;
}
.react-datepicker__input-container {
    display: flex!important;
}
.datepicker-button {
    width: 100%;
}
.time-control-group {
    flex: 0 0 40%;
}

@media (min-width: 768px) {
    .datepickers {
        flex-wrap: nowrap;
    }
    .datepicker-col {
        flex-basis: 50%;
        max-width: 50%;
    }
}