.primary {
    background-color: royalblue;
    color: #fff;
}
.pane {
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    margin-bottom: 1.5em;
    padding: 1em;
}
.pane-flex { display: flex; justify-content: space-between; align-items: center;}