*, :after, :before {
    box-sizing: border-box;
}
.btn {
    background-color: #333;
    border: 1px solid #333;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    padding: .375rem .75rem;
}
.primary {
    background-color: royalblue;
    color: #fff;
}
.pane {
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    margin-bottom: 1.5em;
    padding: 1em;
}
.pane-flex { display: flex; justify-content: space-between; align-items: center;}